@import url("monokai.css");

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/lmroman10-regular.woff");
  font-weight: normal;
}


@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/lmroman10-bold.woff");
  font-weight: bold;
}

/* 
code, pre {
  font-family: 'Ubuntu Sans Mono' !important;
} */

body {
  background-color: rgb(25, 25, 25);
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "Latin Modern Roman";
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(255, 255, 255);
}

hr {
  border: 3px solid #fff;
  border-style: none none solid;
}

.about {
  width: 100%;
  max-width: 200px;
  height: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 0;
}

.container {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Latin Modern Roman";
  font-weight: normal;
}

.container .buttons {
  margin-top: 15px;
  font-size: 1rem;
}

.container .buttons .button {
  display: inline-block;
}

.container a {
  text-decoration: none;
  color: rgb(0, 175, 255);
}

.container article {
  border: 3px solid #fff;
  border-style: none none solid;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2 {
  width: 100%;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 0%;
  }
  .col-2 {
    width: 100%;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 100%;
    max-width: 60rem;
  }
}
